
# You can get both from here: https://console.twilio.com/?frameUrl=%2Fconsole%3Fx-target-region%3Dus1
TWILIO_ACCOUNT_SID=ACXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX
TWILIO_AUTH_TOKEN=XXXXXXXXXXXXXXXXXXXXXXXXXXXXXX

# Your Workspace SID can be retrieved from here: https://console.twilio.com/us1/develop/taskrouter/overview?frameUrl=%2Fconsole%2Ftaskrouter%2Fdashboard%3Fx-target-region%3Dus1
TWILIO_TASKROUTER_WORKSPACE_SID=WSXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX